// ширина ограничующего контента:
$screen-max-width: 0px;
// половина отступа между блоками по горизонтали для margin-block:
$margin-y: 0px;

// половина отступа между блоками по вертикали для margin-inline: 
 $margin-x: 0px;
// параграфы и ссылки с резиновым текстом

// скрываем тескт-подсказку для кнопок

.visually-hidden {
 @include visually-hidden; 
  }
// ограничивающий контейнер(выстраена boobstrap сетка): 
.container {
    max-width: $screen-max-width;
    margin: 0 auto;
    padding: 0 12px;
    
    @include laptop {
      max-width: 970px;
    }
    @include tablet-b {
      max-width: 750px;
    }
    @include tablet {
      max-width: none;
    }
    
}
// ------------------------------------------
// UTILITY CTA:
.btn {
  @include btn; 
}
// IMG AS BACKGROUND:
.bg {
  position: absolute; /* Чтобы изображение было фоном */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Изображение на заднем плане */
 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Делаем изображение полностью покрывающим блок */
  object-position: top; /* Центрируем изображение */
 }
}
